.GAcqo5JV{height:300px}
.ECUcjPxM{font-size:26px}.HcFzYI4E{font-size:18px;max-height:6em;overflow:hidden;position:relative}.HcFzYI4E.O61N9u4A{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.Q8j2LY9F a{color:#deb887}
