.backLink {


    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px;
    color: antiquewhite;
    background: transparent;
    width: fit-content;

    span {
        margin-right: 5px;
        transition: transform 0.3s ease;
    }

    &:hover {
        background: transparent;

        span {
            transform: translateX(-3px);
        }
    }

    &:active {
        background: transparent;
    }
}